/* bucles */

@for $i from 2 to 7 {
    h#{$i} {
        font-size: $i + 0.5rem;
    }
}


/* EACH */

$colores: "pink", "green", "black";

@each $color in $colores {
    .#{$color} {
        color:#{$color};
    }
    
}