/* LOS PIXIN PUEDEN SER CON PARAMETROS O SIN PARAMETROS*/ 

/* MIXIN SIN PARAMETROS */

@mixin parrafos {
    display: flex;
    width: 100%;
    height: 10rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(33, 31, 34);
    color: rgb(156, 134, 156);
    font-size: 10px;
    font-weight: bold;    
}

.parrafosConEstilo {
    @include parrafos;
}

/* MIXIN CON PARAMETROS */

@mixin parrafoConParametros($display,$color,$size,$alineacion,$padding,$backgroundc,$justifycon) {
    display: $display;
    color: $color;
    font-size: $size;
    text-align: $alineacion;
    padding: $padding;
    background-color: $backgroundc;
    justify-content: $justifycon;
}

.parrafosC{
    @include parrafoConParametros(flex,white,1rem,center,0.5rem,#32273f,center)
}