@import "bucles", "maps", "extend", "variables", "mixing", "condicionales";

nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li { 
        padding-left: 1rem;
        height: 1.5rem;
     }
  
    a {
      padding: 6px 12px;
      text-decoration: none;
    }
  }

body {
    font-family: 'Roboto', sans-serif;
}
/* HEADER */
header {
    background-color: #401447;
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    padding-top: 5px;
    padding-left: 30%;
}


.botonera ul li {
    display: inline-block;
}

.botonera ul li a {
    text-decoration: none;
    text-transform: none;
    font-weight: normal;
    color: #d4c1d1;
    font-family: sans-serif;
}

.contactoPag{
    margin-top: 50px;
}

/* MAIN */

.mainIndex{
    display: flex;
    width: 100%;
    height: 15rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(187, 168, 184);
    color: rgb(44, 9, 44);
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;

}

.mainIndexP{
    display: flex;
    width: 100%;
    height: 14rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(50, 39, 63);
    color: rgb(156, 134, 156);
    font-size: 20px;
    font-weight: bold;

}

/* ANIMACIONES HOVER/FOCUS*/

a {
    text-decoration: none;
    background-image: linear-gradient(CurrentColor, CurrentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover,
a:focus {
    background-size: 100% 2px;
}



/* SECCION SERVICIOS */


.serviciosLista{
    background-color: rgb(50, 39, 63);
    color: rgb(224, 221, 224);
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    margin-bottom: 2rem;
}

.serviciosP{
    padding: 1rem;
}






.imagenEncabezado {
    width: 100%;
}

.contactoTexto, .contactoTitulo{
    color: rgb(250, 201, 247);
}


/*SECCION GALERIA */

.galeriaImg{
    border: #eb58a9;
    border-radius: 0.5rem;
    border-style: ridge;
}

.titulosPag{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #401447;
    margin-bottom: 1rem;
    margin-top: 1rem;    
}

.contenedor {
    text-align: center;
    margin: 50px;
    padding: 30px;
    border: solid 1px #99A799;
    border-radius: 4px;
}

.contenedorPagUno{
    margin-top: 50px;
    text-align: center;
    margin: 50px;
    padding: 30px;
    border: solid 1px #99A799;
    border-radius: 4px;
}

.contenedorCon{
    margin-top: 50px;
    text-align: center;
    margin: 50px;
    padding: 30px;
    border: solid 1px #99A799;
    border-radius: 4px;

}


.contenedorPag h2 {
    padding-top: 2rem;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    color: rgb(238, 222, 237);
    text-transform: uppercase;

}

.contenedorPag{
    font-weight: bold;
    color: rgb(238, 222, 237);
    background-color: #3d1e31;
    border: solid 1.5px cornflowerblue;

}

.contenedorP {
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}


/* SECCION CONTACTO */

.campo {
    display: block;
    width: 50%;
    padding: 10px;
    margin: 10px auto;
}

.boton {
    color: rgb(238, 222, 237);
    background-color: #3d1e31;
    padding: 10px;
    text-transform: none;
    font-weight: normal;
    cursor: pointer;
}


/* SECCION FOOTER */

footer {
    display: flex;
    background-color: #FEF5ED;
    height: 5.2rem;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    margin-left: 15px;
    text-transform: none;
    font-weight: normal;
    color:darkslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parrafosD{
    background-color: #FEF5ED;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    font-weight: lighter;

}

.footerUno {
    display: flex;
    align-items: left;
    align-content: left;
    padding: 5px;
    color:darkslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 15px;
    text-transform: none;
    font-weight: normal;
}

