
body{
    background-color: rgb(49, 14, 42);
}
footer{
    background-color: antiquewhite;
}
nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li { 
        padding-left: 1rem;
        height: 1.5rem;
     }
  
    a {
      padding: 6px 12px;
      text-decoration: none;
    }
  }